@import '../../../app/App.scss';

.form {
  padding-left: 16px;
  font-size: 20px;
  height: 100%;
  width: 500px;
  padding: 25px;
  background-color: $light-grey;
  border-radius: 20px;

  .field {
    margin-bottom: 12px;
    width: 100%;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  button {
    margin: 8px auto;
    border-radius: 25px;
    font-size: 20px;
    color: black;
  }

  .or {
    font-size: 18px;
  }
  .other {
    font-size: 20px;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
    color: $blue;

    &:hover {
      opacity: 0.7;
      transition: opacity 150ms ease-out 0s;
    }
  }
}

@media (max-width: 1000px) {
  .form {
    font-size: 18px;
    width: 400px;
  }
}

@media (max-width: 768px) {
  .form {
    font-size: 18px;
    width: 350px;

    button {
      font-size: 17px;
    }

    .other {
      font-size: 17px;
    }
  }
}
