@import '../../app/App.scss';

.nav {
  &__container {
    background-color: $blue;
    width: 100vw;
    display: flex;
    justify-content: center;
    color: #fff;
  }

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-family: 'ALS-hauss', sans-serif;
    height: 75px;
    text-align: center;
    width: 100%;
  }
}

.logo__container {
  display: flex;
  justify-content: center;
  width: calc(100vw * 0.2);
  margin-right: 2em;

  &:hover {
    cursor: pointer;
  }
}

.header__title {
  font-size: 2rem;
  font-weight: 700;

  &:hover {
    cursor: default;
  }
}

.money__container {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  align-items: center;
  color: #fff;
  font-size: 0.77778rem;
  font-weight: 700;
  margin-right: 2rem;

  .button-wrap {
    font-size: 1.3rem;
  }
}

@media (max-width: 1280px) {
  .money__container {
    justify-content: center;
    gap: 10px;
    font-size: 0.9rem;
    margin-right: 1.5rem;
  }
  .logo__container {
    justify-content: center;
    padding: 0;
  }
  .header__title {
    font-size: 1.8rem;
  }
}

@media (max-width: 1000px) {
  .logo {
    height: 40px;
  }

  .header__title {
    font-size: 1.7rem;
  }

  .money__container {
    margin-right: 1rem;
  }
}

@media (max-width: 768px) {
  .nav__main {
    height: 60px;
  }

  .header__title {
    font-size: 1.5rem;
  }

  .logo {
    height: 30px;
  }
}
