@import '../../app/App.scss';

.nav {
    &__container {
        background-color: $blue;
        width: 100vw;
        display: flex;
        justify-content: center;
        color: #FFF;
    }

    &__main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        font-family: "ALS-hauss", sans-serif;
        height: 75px;
        text-align: center;
        width: 100%;
        max-width: 1440px;
    }
}

.logo__container {
    margin-left: 2rem;
    display: flex;
    justify-content: flex-start;

    &:hover {
        cursor: pointer;
    }
}

.header__title {
    font-size: 2rem;
    font-weight: 700;

    &:hover {
        cursor: default;
    }
}

.money__container {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
    color: #FFF;
    font-size: 0.77778rem;
    font-weight: 700;
    margin-right: 2rem;

    .button-wrap {
        font-size: 1.3rem;
    }
}


@media (max-width: 1280px) {
    .money__container {
      justify-content: center;
      gap: 10px;
      font-size: 0.9rem;
      margin-right: 1.5rem;
    }
    .logo__container {
      justify-content: center;
      padding: 0;
      margin-left: 1.5rem;
    }
    .header__title {
      font-size: 1.8rem;
    }
}

@media (max-width: 1000px) {
    .logo__container {
        margin-left: 1rem;
    }

    .header__title {
        font-size: 1.7rem;
    }

    .money__container {
        margin-right: 1rem;
    }
}

@media (max-width: 768px) {
    .header__title {
        font-size: 1.5rem;
    }

    .logo {
        // height: 30px;
    }
}