@import '../../app/App.scss';

.layout-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.app-layout {
    width: 100%;
    min-height: 100vh;
}
  
header {
    flex-shrink: 0;
    z-index: 200;
    position: sticky;
    top: 0;
}

main {
    flex-grow: 1;
}

.ProfilePage {
    font-family: 'ALS-hauss', sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;

    &__wrap {
        display: grid;
        grid-template-columns: calc(100vw * 0.2) 1fr;
        gap: 2em;
    }
}

.SideMenu__container {
    display: flex;
    justify-content: flex-start;
    z-index: 199;
    position: sticky;
    top: 75px;    
    left: 0;
    height: calc(100vh - 75px);
}

.MainContent {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 0 0;
    padding-right: 2em;
    width: 100%;
}

@media (max-width: 1280px){

  }
  
  @media (max-width: 1000px) {
    .MainContent {
        margin: 2em 0 0 !important;
    }
  }