@import '../../app/App.scss';

.MainContent {
    &__title {
        font-size: 1.7rem;
        font-weight: 600;
        text-align: center;
    }

    &__button {
        margin-top: 20px;
        color: black;

    }

    button {
        margin: 8px auto;
        border-radius: 25px;
        font-size: 20px;
        color: black;
    }
}

@media (max-width: 1280px) {
    .MainContent {
        &__title {
            font-size: 1.5rem;
        }
    }
}

@media (max-width: 1000px) {
    .MainContent {
        &__title {
            font-size: 1.4rem;
        }
    }
}

@media (max-width: 768px) {
    .MainContent {
        &__title {
            font-size: 1.2rem;
        }
        button {
            font-size: 17px;
        }
    }
}