@import '../../app/App.scss';

.MainContent {
    &__title {
        font-size: 1.7rem;
        font-weight: 600;
    }
}

@media (max-width: 1280px) {
    .MainContent {
        &__title {
            font-size: 1.5rem;
        }
    }
}

@media (max-width: 1000px) {
    .MainContent {
        &__title {
            font-size: 1.4rem;
        }
    }
}

@media (max-width: 768px) {
    .MainContent {
        &__title {
            font-size: 1.2rem;
        }
    }
}